mqtt-test-emitter/
mqtt-test-server/
CommunitySolidServer/

inrupt_files/inrupt_naive/
inrupt_files/inrupt_pushSplice/
inrupt_files/spare_data/
inrupt_files/*.csv
inrupt_files/*.txt
inrupt_files/mqtt-emitter/dist/
inrupt_files/mqtt-emitter/node_modules/
inrupt_files/solid-if-iot-bot/dist/
inrupt_files/solid-if-iot-bot/node_modules/
inrupt_files/solid-if-iot-client/node_modules/
inrupt_files/solid-if-iot-steward/node_modules/

css_files/css_naive/
css_files/css_pushSplice/
css_files/spare_data/
css_files/*.csv
css_files/*.txt
css_files/mqtt-emitter/dist/
css_files/mqtt-emitter/node_modules/
css_files/mqtt-broker/dist/
css_files/mqtt-broker/node_modules/
css_files/solid-if-iot-bot/dist/
css_files/solid-if-iot-bot/node_modules/
css_files/solid-if-iot-client/node_modules/
css_files/solid-if-iot-steward/node_modules/

processing/.venv/
processing/node_modules/
processing/css_datarun2/
processing/inrupt_datarun/
*.zip